
body {
    color: white;
    background-color: #111111;
}

.columns div {
    float: left;
    clear: none;
}


div.stats {
    width: 20%;
}

.stats div {
    float: none;
    clear: both;
}

div.tech {
    width: 20%;
    background-color: black;
}

div.hours {
    width: 20%;
}

.hours div {
    clear: both;
}

div.lab {
    width: 20%;
    background-color: black;
}

div.info {
    width: 20%;
}